# ===================
# Node / npm
# ===================
node_modules/



# ===================
# Builds & Artifacts
# ===================
/dist
build/
*.tsbuildinfo

# ===================
# Logs
# ===================
logs/
*.log

# ===================
# Environment Files
# ===================
/.env

# ===================
# Prisma
# ===================
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/*/README.md  # doar fișierele auto-generate inutile

# ===================
# Docker
# ===================
*.local
.dockerignore
Dockerfile.dev
docker-compose.override.yml

# ===================
# Vite / React
# ===================
.vite/
*.cache
*.html
*.svg
*.ico

# ===================
# IDEs / Editors
# ===================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===================
# OS Files
# ===================
.DS_Store
Thumbs.db

# ===================
# Optional: Git
# ===================
.git/
